.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  gap: 60px;
  background: #0c0c0c;
  color: #fff;
}

.about-img img {
  width: 320px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 238, 255, 0.4);
}

.about-content h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.about-content .highlight {
  font-size: 20px;
  font-weight: bold;
  color: #00eaff;
}

.about-content p {
  margin-top: 15px;
  line-height: 1.7;
  font-size: 17px;
  color: #ccc;
}

/* -------- Responsive -------- */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }

  .about-img img {
    width: 250px;
    height: 300px;
  }
}
.about-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.hire {
  background: #00eaff;
  color: #000;
  font-weight: bold;
}

.btn.hire:hover {
  background: #00bcd4;
}

.btn.resume {
  border: 2px solid #00eaff;
  color: #00eaff;
  text-decoration: none;
}


.btn.resume:hover {
  background: #00eaff;
  color: #000;
}
